<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/Users/ycourteau/Downloads/phpDocumentor-2.8.5/phpDocumentor-2.8.5/bin/phpdoc"/>
</launchConfiguration>
