<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Benoit_Bellemare_Prog_Synth_H16/src/controleur/Fichier.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="controleur.Fichier"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Benoit_Bellemare_Prog_Synth_H16"/>
</launchConfiguration>
