<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/karimerrigmailcom_5139790_42627473_InphographieProject/src/inforghraphieProg/DriverClass.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="inforghraphieProg.DriverClass"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="karimerrigmailcom_5139790_42627473_InphographieProject"/>
</launchConfiguration>
