<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mathieu_sport22hotmailcom_5139785_42611179_TP_Final_Algo/src/transformations/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="transformations.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mathieu_sport22hotmailcom_5139785_42611179_TP_Final_Algo"/>
</launchConfiguration>
